.card-content {
    height: 90px;
}

.card-content p {
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 3.6em;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
}

.card-content p:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
}

.card-content p:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}

.card-action {
    padding: 10px !important;
    background-color: #1f5cbc !important;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}