.search {
    position: relative;
    margin: 20px 0px;
}

.search input {
    padding: 0px 0px 0px 30px !important;
    margin: 0px !important;
    height: 30px !important;
}

.search input:focus {
    border-bottom: 1px solid #1f5cbc !important;
    box-shadow: 0 1px 0 0 #1f5cbc !important;
}

::placeholder {
    color: #b2b2b2 !important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #b2b2b2 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #b2b2b2 !important;
}

.search i {
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: 22px;
}