p {
    font-size: 12px;
    margin: 10px 0;
}

label {
    color: #787878;
    font-weight: 700
}

.btn {
    background-color: #1f5cbc
}

.btn:hover, .btn:focus {
    background-color: #143c7a
}

button {
    margin: 0 5px;
}

.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.divider {
    height: 2px;
    overflow: hidden;
    background-color: #000;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}